<h1>Your Order</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Customer</th>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Stock</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= @order.user.name if @order.user %></td>
      <td><%= image_tag "products/#{item.product.image_url}" %></td>
      <td><%= item.product.title %></td>
      <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
      <td><%= print_stock(item.product.stock, item.quantity) %></td>
      <td><%= item.product.price %></td>
      <td><%= print_price item.subtotal %></td>
      <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <% if current_user %>
    <%= form_for @order do |f|  %>
      <tr>
        <th>Shipping To:</th>
        <td>
          <%= f.select :address_id, current_user.addresses.collect{ |a| [a.to_s, a.id] } %>
          <%= link_to "Add new address", new_address_path %>
        </td>
        <td><%= f.submit "Submit Order" %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td><%= link_to 'Home', products_path %></td>
    <td><%= link_to "Empty Cart", @order, data: { confirm: 'Are you sure?' }, method: :delete %></td>
    <td></td>
    <th>Order Total: </th>
    <td><%= print_price(@order.total) %></td>
  </tr>

</table>